.playing-field {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 5px;
}

.letter-buttons {
  @media (max-width: 800px) {
    width: 500px;
  }
  @media (min-width: 800px) {
    width: 900px;
  }
}

.paragraph {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
}
