.playing-field {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrong-guessed-letters {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}

button {
  margin: 5px;
}

.new-game-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px;
}

.letter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.letter-buttons > button {
  display: inline-block;
}

@media (max-width: 800px) {
  .letter-buttons > button {
    width: 500px;
  }
}

@media (min-width: 800px) {
  .letter-buttons > button {
    width: 500px;
  }
}

.paragraph {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters > p {
  margin: 0 5px;
}

img {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
