.playing-field {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 5px;
}

.new-game-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px;
}

.letter-buttons {
  flex-direction: row;


@media (max-width: 800px) {
  width:

500px

;
}

@media (min-width: 800px) {
  width:

900px

;
}

}

.paragraph {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters {
  /* Make p elements be horizontally aligned */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters > p {
  /* Make p elements be horizontally aligned */
  margin: 0 5px;
}

img {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
