<div class="playing-field">
  <div>
    <div class="new-game-btn">
      <button mat-raised-button (click)="resetGame()">New game</button>
    </div>
    <div *ngIf="gameStarted">
      <div class="characters">
        <p *ngFor="let character of guessed_right_characters">{{character}}</p>
      </div>
      <div class="paragraph">
        <p>Guess a letter</p>
      </div>

      <div class="letter-buttons">
        <div *ngFor="let letter of alphabet">
          <button *ngIf="isLetterUsed(letter) == true" mat-raised-button disabled>
            {{letter}}
          </button>
          <button *ngIf="isLetterUsed(letter) == false" (click)="guess(letter)" mat-raised-button color="primary">
            {{letter}}
          </button>
        </div>
      </div>

      <img src="assets/hangman-images/Frame%20{{guessed_wrong_characters.length+1}}.svg"
           alt="hangman_{{guessed_wrong_characters.length}}">
      <div class="wrong-guesses">
        <p *ngIf="guessed_wrong_characters.length>0"><b>Wrong guesses:</b></p>
        <ul *ngFor="let letter of guessed_wrong_characters">
          <li>{{letter}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
